<li [ngClass]="{ 'list-group-item': true,
                  'list-group-item-success': post.likeIts > post.dontLikeIts,
                  'list-group-item-danger': post.likeIts < post.dontLikeIts }">
    <div class="row">
        <div class="col-10">
            <h2>{{ post.title }}</h2>
        </div>
        <div class="col-2">
            <p>{{ post.date | date }}</p>
        </div>
    </div>
    <p>{{ post.content }}</p>
    <button class="btn btn-success" (click)="onLikeIt()">
            <i class="fas fa-thumbs-up"></i>
            Like it
        </button>
    <button class="btn btn-danger ml-1" (click)="onDontLikeIt()">
            <i class="fas fa-thumbs-down"></i>
        Don't like it
    </button>
    <button class="btn btn-danger ml-5" (click)="onDelete()">
        <i class="fas fa-trash-alt"></i>
        Supprimer
    </button>
</li>